.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: #02073E;
}

.navbar .navbar__content {
  padding: 3rem 4rem 1rem;
  display: flex;
  justify-content: space-between;
}

.navbar .navbar__content .navbar__links {
  display: flex;
  justify-content: center;
  /* Centraliza horizontalmente */
  align-items: center;
  /* Centraliza verticalmente */
  flex-grow: 1;
  /* Para ocupar o espaço restante */
}

.navbar .navbar__content .navbar__links li {
  display: inline-block;
}

.navbar .navbar__content .navbar__links li:not(:last-of-type) {
  margin-right: 2rem;
  text-align: center;
}

.navbar .navbar__content {
  padding: 1.5rem 4rem;
  /* Ajustando o padding para um espaçamento mais equilibrado */
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* Centralizando verticalmente os itens */
}

.navbar .navbar__content .navbar__links {
  display: flex;
  gap: 2rem;
  /* Espaço entre os itens da barra de navegação */
}

.navbar .navbar__content .navbar__links a {
  padding: 1rem 1.5rem;
  text-decoration: none;
  color: #fff;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  transition: background-color 0.3s, color 0.3s;
}

.navbar .navbar__content .navbar__links a:hover {
  color: #fff;
}


.navbar .navbar__content .navbar__links a {
  padding: 1rem;
  display: inline-block;
  text-align: center;
}

.navbar .navbar__content .navbar__links a:hover {
  color: var(--tertiary-color);
  text-align: center;
}

.navbar.active {
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.1);
}

.navbar .navbar__content .navbar__mobile,
.navbar .navbar__content .navbar__mobile .mobile__links {
  display: none;
}


@media only screen and (max-width: 768px) {
  .navbar .navbar__content .navbar__links {
    display: none;
  }

  .navbar .navbar__content .navbar__mobile {
    display: flex;
    align-items: center;
  }

  .navbar .navbar__content .navbar__mobile img {
    width: 3.6rem;
    height: 3.6rem;
    cursor: pointer;
  }

  .navbar .navbar__content .navbar__mobile.active .mobile__links {
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    width: 100%;
    position: absolute;
    top: 98%;
    left: 0;
    padding: 1rem 0;
    box-shadow: 0 0.4rem 0.5rem rgba(0, 0, 0, 0.1);
    z-index: 1;
  }

  .navbar .navbar__content .navbar__mobile.active .mobile__links li {
    margin-right: 0;
  }

  .navbar .navbar__content .navbar__mobile.active .mobile__links li a {
    padding: 1rem;
    display: block;
    text-align: center;
  }

  .navbar .navbar__content .navbar__mobile.active .mobile__links li a:hover {
    color: var(--tertiary-color);
  }
}